<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>io.github.raulgg.airpods-control</string>
  <key>CFBundleName</key>
  <string>airpods-control</string>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>Read AirPods ear placement when Core Audio cannot provide it.</string>
</dict>
</plist>
